<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation Bar Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
        ul ul {
            display: none;
            position: absolute;
            background-color: #333;
            padding: 10px;
            top: 100%;
            left: 0;
        }

        li:hover ul {
            display: block;
            margin-top: -10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="salesDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sales
        </a>
        <ul class="dropdown-menu" aria-labelledby="salesDropdown">
          <li><a class="dropdown-item" href="#">Sale Tire</a></li>
          <li><a class="dropdown-item" href="#">Sale Wheel</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="stockDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Stock
        </a>
        <ul class="dropdown-menu" aria-labelledby="stockDropdown">
          <li><a class="dropdown-item" href="#">Stock Tire</a></li>
          <li><a class="dropdown-item" href="#">Stock Wheel</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Report</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
    </ul>
  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
